body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #111827;
  color: white;
}

.container {
  padding: 40px;
}

.title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 30px;
}

.card-container {
  display: flex;
  gap: 20px;
}

.card {
  background-color: #1f2937;
  padding: 20px;
  border-radius: 10px;
  width: 200px;
  text-align: center;
}

.card h3 {
  color: #9ca3af;
  font-size: 14px;
}

.card h2 {
  font-size: 28px;
  margin-top: 10px;
}

.button-group {
  margin-top: 30px;
}

button {
  padding: 10px 15px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}

.green {
  background-color: #22c55e;
  color: white;
}

.red {
  background-color: #ef4444;
  color: white;
}

button:hover {
  opacity: 0.8;
}


/* Layout */
.layout {
  display: flex;
  height: 100vh;
}

/* Sidebar */
.sidebar {
  width: 200px;
  background-color: #0f172a;
  padding: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 15px;
  cursor: pointer;
  color: #9ca3af;
}

.sidebar li:hover {
  color: white;
}

/* Main Section */
.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* Navbar */
.navbar {
  background-color: #1f2937;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Dashboard Content */
.content {
  padding: 30px;
}


.call-table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

.call-table th,
.call-table td {
  padding: 12px;
  text-align: left;
}

.call-table th {
  background-color: #1f2937;
}

.call-table tr:nth-child(even) {
  background-color: #111827;
}

.call-table tr:nth-child(odd) {
  background-color: #1f2937;
}